<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout( ~{::title}, ~{::div.Middle} )}">
<!--<![endif]-->
<head>
  <title>Вход</title>
</head>
<body class="Site">
  <div class="Middle Middle_form">
    <div class="Middle-top">
      <div class="wrap">
        <h1 class="Middle-title">Вход
        </h1>
      </div>
    </div>
    <div class="wrap">
      <main class="Middle-main">
        <form class="form Login" action="#" method="post">
          <div class="Login-ins">
            <div class="Login-step">
              <div class="form-group">
                <label class="form-label Login-title">Введите e-mail или телефон
                </label>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="row-block">
                    <label class="toggle Login-type">
                      <input type="radio" name="typeauth" value="phonetype" checked="checked"/><span class="toggle-box"></span><span class="toggle-text">Телефон</span>
                    </label>
                  </div>
                  <div class="row-block">
                    <label class="toggle Login-type">
                      <input type="radio" name="typeauth" value="mailtype"/><span class="toggle-box"></span><span class="toggle-text">E-mail</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input class="form-input form-input_phone" id="phone" name="phone" type="text" placeholder="Введите телефон" data-mask="+7 (999) 999-99-99" data-validate="require"/>
                <input class="form-input form-input_mail" id="mail" name="mail" type="text" placeholder="Введите e-mail" data-validate="mail require"/>
              </div>
              <div class="form-group form-group_center">
                <button class="btn btn_primary form-btn" type="button" name="sendauth" id="sendauth" data-type="phone" data-send="">Далее
                </button>
              </div>
            </div>
            <div class="Login-step Login-step_hide" data-type="phone">
              <div class="form-group">
                <label class="form-label Login-title">На&nbsp;Ваш телефон отправлено сообщение с&nbsp;кодом для входа. Введите его:
                </label>
              </div>
              <div class="form-group form-group_key">
                <input class="form-input" id="phonecode" name="phonecode" type="text" placeholder="Код" data-validate="key require" data-mask="999 999"/>
              </div>
              <div class="form-group form-group_center">
                <button class="btn btn_primary form-btn" type="button" name="toComeInPhone" id="toComeInPhone" data-send="">Войти
                </button>
              </div>
            </div>
            <div class="Login-step Login-step_hide" data-type="mail">
              <div class="form-group">
                <label class="form-label Login-title">На&nbsp;Ваш e-mail отправлена ссылка для входа и&nbsp;код. Перейдите по&nbsp;ссылке или введите код ниже:
                </label>
              </div>
              <div class="form-group form-group_key">
                <input class="form-input" id="mailcode" name="mailcode" type="text" placeholder="Код" data-validate="key require" data-mask="999 999"/>
              </div>
              <div class="form-group form-group_center">
                <button class="btn btn_primary form-btn" type="button" name="toComeInMail" id="toComeInMail" data-send="">Войти
                </button>
              </div>
            </div>
            <div class="form-group form-group_center"><a class="Login-reg" href="/signup.html" th:href="@{/signup}">Зарегистрироваться</a>
            </div>
          </div>
        </form>
      </main>
    </div>
  </div>
</body></html>