<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout( ~{::title}, ~{::div.Middle} )}">
<!--<![endif]-->
<head>
    <title>Авторы</title>
</head>
<body class="Site">
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">Авторы
            </h1>
            <div class="Section">
                <div class="Authors">
                    <div class="Authors-links">
                        <a th:each="authorList : ${authorsMap}"  class="Authors-link" href="#a"
                           th:href="'#' + ${#strings.toLowerCase(authorList.key)}" th:text="${authorList.key}">
                            А</a>
                    </div>
                    <div class="Authors-block" th:each="authorList : ${authorsMap}">
                        <h2 class="Authors-title" id="a" th:id="${#strings.toLowerCase(authorList.key)}" th:text="${authorList.key}">А
                        </h2>
                        <div class="Authors-letter">
                            <div th:each="author : ${authorList.value}" class="Authors-item"><a
                                    href="/authors/slug.html" th:text="${author.lastName + ' ' + author.firstName}">Абгарян
                                Наринэ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>